<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Maqcenter</title>

    
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="" />

    <!-- Magnific-Popup CSS -->
    <link rel="stylesheet" href="assets/vendors/magnific-popup/magnific-popup.css" />

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <style>
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            padding: 8px;
            border-radius: 3%;
            right: 0; /* Alinha o submenu à direita */
        }

            .dropdown-content a {
                color: black;
                padding: 7px;
                text-decoration: none;
                display: flex;
                align-items: center;
                margin: 5px;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                    color: blue; /* Muda a cor da letra para azul ao passar o mouse */
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-content a {
            color: black;
            padding: 18px; /* Adiciona padding */
            text-decoration: none;
            display: flex;
            margin: 1px; /* Adiciona a margem */
            border-radius: 3%;
        }

            .dropdown-content a:hover {
                color: blue;
                background-color: #ddd;
                border: #000000 solid 2px;
                border-radius: 3%;
            }
    </style>
</head>

<body>


    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->
    <!-------------------- Header Area (Start) -------------------->
    <header class="header">

        <!-- Logo -->
        <a class="logo" href="#home" style="display: flex; align-items: center; text-decoration: none;">
            <img src="assets/images/Home/download.png" alt="About-Image"
                 style="width: 50px; height: 50px; margin-right: 10px;">
            <h2 style="margin: 0; font-size: 24px;">Maqcenter</h2>
        </a>
        <!-- Logo End -->
        <!-- Navbar -->
        <nav class="navbar" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-home fa-lg" aria-hidden="true"></i>
                <a href="#home" style="margin-left: 10px;">Inicio</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                <a href="#about" style="margin-left: 10px;">sobre</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-gavel fa-lg" aria-hidden="true"></i>
                <a href="#service" style="margin-left: 10px;">Serviço</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-window-restore fa-lg" aria-hidden="true"></i>
                <a href="#portfolio" style="margin-left: 10px;">Portfolio</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                <a href="#testimonial" style="margin-left: 10px;">Depoimento</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-file fa-lg" aria-hidden="true"></i>
                <a href="#blog" style="margin-left: 10px;">Noticias</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
                <a href="#contact" style="margin-left: 10px;">Contato</a>
            </span>

            <div class="dropdown" style="position: relative; display: inline-block;">
                <span style="display: flex; align-items: center; margin-right: 20px;">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="Login.html" style="margin-left: 10px;">Login</a>
                </span>
                <div class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 8px; border-radius: 3%;">
                    <a href="UsuarioIndex.html" style="color: black; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-users" aria-hidden="true" style="margin-right: 8px;"></i>
                        Usuarios
                    </a>
                    <a href="AgendamentoIndex.html" style="color: black; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>
                        Agendamento Admin
                    </a>
                    <a href="AgendamentoIndex.html" style="color: black; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>
                        Agendamento User
                    </a>
                    <a href="AgendamentoCliente.html" style="color: black; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-address-card" aria-hidden="true" style="margin-right: 8px;"></i>
                        Cadastro Agendamento
                    </a>
                    <a href="ServicoIndex.html" style="color: black; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fas fa-gavel fa-lg" aria-hidden="true" style="margin-right: 8px;"></i>
                        Serviços
                    </a>
                    <a href="#logout" style="color: black; padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-book" aria-hidden="true" style="margin-right: 8px;"></i>
                        Relatório
                    </a>
                </div>
            </div>
            <!-- Menubar -->
            <div class="fas fa-bars" id="menu-btn"></div>

    </header>
    <!-------------------- Header Area (End) -------------------->
    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2>
                        Olá!</h1>
                        <h1>Trabalho com <span class="typing-text"></span></h1>
                        <p>
                            Realizamos inspeções regulares e manutenções preventivas para evitar falhas e problemas
                            futuros. Quando necessário, nossa equipe está pronta para solucionar quaisquer falhas de
                            maneira rápida e eficiente..
                        </p>
                        <a href="#" class="btn">Sobre mim <i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="assets/images/Home/download.png" alt="Home-Image">
            </div>

        </div>

    </section>

    <!-------------------- Home Area (End) -------------------->
    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="assets/images/About/download.jpeg" alt="About-Image" />
            </div>

            <div class="content">

                <h2>Olá, somos a Maqcenter Serviços de Manutenção e Suporte Técnico.</h2>
                <p>
                    Bem-vindo à Maqcenter Serviços de Manutenção e Suporte Técnico, sua parceira de confiança em serviços
                    de manutenção e suporte técnico. Com anos de experiência no mercado, somos especializados em
                    fornecer soluções completas e personalizadas para garantir que seus sistemas e equipamentos
                    funcionem de maneira eficiente e segura..
                </p>

                <div class="about-info">

                    <div class="info">
                        <h4>Fundação: <span>No mercado desde 1990</span></h4>
                        <h4>Localização: <span>Brasilia-Df</span></h4>
                        <h4>Linguagem: <span>Português, Inglês, Espanhol</span></h4>
                        <h4>Area de atuação: <span>Administrativo/Logística</span></h4>
                        <h4>Agendamento: <span>Aberto!</span></h4>
                        <a href="#" class="btn">Baixar currículo <i class="fas fa-download"></i></a>
                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="24">24+</h1>
                            <h3>Anos de experiência</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="10000">10000+</h1>
                            <h3>Projetos completados</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="8000">8000+</h1>
                            <h3>Clientes satisfeitos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="20">20+</h1>
                            <h3>Total de Premiações</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="skill-container">

            <div class="heading">
                <h2>Minhas <span> habilidades</span></h2>
            </div>

            <div class="skills">
                <div class="skill-item item1">
                    <div class="box">
                        <h3>Habilidades em Redes<span> 95% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Habilidades em Segurança da Informação<span> 90% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Habilidades em Sistemas Operacionais<span> 85% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

                <div class="skill-item item2">
                    <div class="box">
                        <h3>Habilidades de Atendimento ao Cliente<span> 75% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3> Habilidades em Ferramentas de Suporte<span> 65% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Habilidades de Diagnóstico e Resolução de Problemas<span> 60% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- About Area (End) -------------------->
    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>Minha <span> Qualificação</span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2015 - 2016</span>
                        <h3>Conhecimento de Sistemas Operacionais</h3>
                        <p>
                            Certificações Microsoft (MCSA, MCSE): Certificações que cobrem uma variedade de habilidades
                            em sistemas operacionais Windows Server e tecnologias associadas..
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2016 - 2017</span>
                        <h3>Soft Skills e Habilidades de Comunicação</h3>
                        <p>
                            Comunicação Clara e Eficaz: Capacidade de explicar conceitos técnicos a pessoas não técnicas.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2017 - 2018</span>
                        <h3>Experiência Prática</h3>
                        <p>
                            Estágios e Trabalhos Anteriores: Experiência prática em posições de suporte técnico, seja
                            através de estágios ou empregos anteriores.
                        </p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2018 - 2019</span>
                        <h3>Atualização Contínua</h3>
                        <p>
                            Cursos de Aperfeiçoamento e Workshops: Participação em cursos e workshops para manter-se
                            atualizado com as últimas tendências e tecnologias.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2019 - 2020</span>
                        <h3>Conhecimento de Ferramentas de Suporte</h3>
                        <p>
                            Ferramentas de Acesso Remoto: Proficiência em ferramentas como TeamViewer, AnyDesk, ou
                            Microsoft Remote Desktop.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2020 - 2021</span>
                        <h3>Educação Formal</h3>
                        <p>
                            Graduação em TI ou áreas relacionadas: Bacharelado em Tecnologia da Informação, Ciência da
                            Computação, Engenharia da Computação, ou Sistemas de Informação.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-------------------- Qualification Area (End) -------------------->
    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>Meus <span> Serviços</span></h2>
        </div>

        <div class="box-container">

            <div class="service-item">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <h3>
                    Manutenção Preventiva:

                </h3>
                <p>Inspeções regulares e manutenção programada para evitar falhas.</p>
            </div>

            <div class="service-item">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <h3>Manutenção Corretiva:</h3>
                <p>Reparo de equipamentos e sistemas após falhas.</p>
            </div>

            <div class="service-item">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <h3>Manutenção Preditiva:</h3>
                <p>Monitoramento contínuo do estado dos equipamentos.</p>
            </div>

            <div class="service-item">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <h3>Serviços de Suporte Técnico</h3>
                <p>
                    Assistência técnica via telefone, chat ou e-mail.
                    Diagnóstico e resolução de problemas via acesso remoto.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-car" aria-hidden="true"></i>
                <h3>Suporte no Local:</h3>
                <p>Envio de técnicos para resolver problemas diretamente nas instalações do cliente.</p>
            </div>

            <div class="service-item">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <h3>Serviços de Instalação e Configuração</h3>
                <p>
                    Montagem e instalação de novos equipamentos e sistemas.
                    Configuração inicial e integração com sistemas existentes.
                </p>
            </div>

        </div>

    </section>
    <!-------------------- Services Area (End) -------------------->
    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">

        <div class="heading">
            <h2>Meu <span>Portfolio</span></h2>
        </div>

        <div class="gallery">

            <ul class="controls">
                <li class="button btn active" data-filter="all">Todos os serviços</li>
                <li class="button btn" data-filter="acessados">Mais acessados</li>
                <li class="button btn" data-filter="novidades">Novidades</li>
                <li class="button btn" data-filter="beneficio">Custo beneficio</li>

            </ul>

            <div class="box-container">

                <div class="portfolio-item image acessados">
                    <img src="assets/images/Portfolio/images 1.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Manutenção Preventiva</h4>

                        <a data-effect="mfp-newspaper" href="assets/images/Portfolio/images 1.jpg" class="view-btn">
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="portfolio-item image acessados">
                    <img src="assets/images/Portfolio/imagem 2.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Manutenção Corretiva</h4>

                        <a data-effect="mfp-newspaper" href="assets/images/Portfolio/imagem 2.jpg" class="view-btn">
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="portfolio-item image novidades">
                    <img src="assets/images/Portfolio/image 3.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Manutenção Preditiva</h4>

                        <a data-effect="mfp-newspaper" href="assets/images/Portfolio/image 3.jpg" class="view-btn">
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="portfolio-item image novidades">
                    <img src="assets/images/Portfolio/image 4.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Serviços De Suporte Técnico</h4>

                        <a data-effect="mfp-newspaper" href="assets/images/Portfolio/image 4.jpg" class="view-btn">
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="portfolio-item image beneficio">
                    <img src="assets/images/Portfolio/imagem 5.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Suporte No Local</h4>

                        <a data-effect="mfp-newspaper" href="assets/images/Portfolio/imagem 5.jpg" class="view-btn">
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="portfolio-item image beneficio">
                    <img src="assets/images/Portfolio/imagem 6.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Serviços De Instalação E Configuração</h4>

                        <a data-effect="mfp-newspaper" href="assets/images/Portfolio/imagem 6.jpg" class="view-btn">
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- Portfolio Area (End) -------------------->
    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>Depoimentos</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="assets/images/Testimonials/image 1.jpeg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Eu estava com um problema sério no meu computador, e a equipe de suporte técnico foi
                        simplesmente fantástica. Desde o primeiro contato, eles foram extremamente profissionais e
                        pacientes, explicando cada passo do processo de reparo. Resolveram meu problema rapidamente e
                        ainda me deram dicas valiosas para evitar futuros problemas. Recomendo a todos!.
                    </p>
                    <br>

                    <div class="intro">
                        <h3>Maria Silva</h3>
                        <h5> Professora</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="assets/images/Testimonials/image 2.jpeg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Tive uma experiência incrível com o serviço de suporte técnico. Meu notebook estava lento e
                        travando constantemente. O técnico que me atendeu foi super atencioso e identificou o problema
                        rapidamente. Em menos de uma hora, meu notebook estava funcionando como novo. Além disso, eles
                        me ofereceram um ótimo plano de manutenção preventiva. Valeu cada centavo.
                    </p>


                    <div class="intro">
                        <h3>João Pereira</h3>
                        <h5>freelancer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="assets/images/Testimonials/image 3.jpeg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        O suporte técnico foi uma verdadeira salvação para mim. Trabalho em casa e dependo totalmente do
                        meu computador. Quando ele deu problema, fiquei desesperada. Mas a equipe de suporte foi rápida
                        e eficiente. Resolveram tudo via acesso remoto, e eu não precisei sair de casa. O atendimento
                        foi excelente e o preço justo. Super recomendo.
                    </p>
                    <br>

                    <div class="intro">
                        <h3>Ana Costa</h3>
                        <h5>Designer Gráfica</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="assets/images/Testimonials/image 4.jpeg   " alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Precisei de ajuda com a instalação de um software complexo no meu escritório, e a equipe de
                        suporte técnico foi excepcional. Eles não só fizeram a instalação, mas também me deram um
                        treinamento detalhado sobre como usar o software da melhor maneira possível. A paciência e o
                        conhecimento dos técnicos realmente me impressionaram. Ótimo serviço.
                    </p>
                    <br>

                    <div class="intro">
                        <h3>Carlos Mendes</h3>
                        <h5>Advogado</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="assets/images/Testimonials/image 5.jpeg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Nunca fui muito boa com tecnologia, então quando meu celular começou a dar problemas, fiquei
                        bastante preocupada. Felizmente, encontrei este serviço de suporte técnico. Eles foram
                        extremamente pacientes e me ajudaram a resolver o problema de forma rápida e eficiente. Agora,
                        sempre que tenho qualquer dúvida ou problema técnico, sei exatamente a quem recorrer.
                        Atendimento de primeira.
                    </p>
                    <br>

                    <div class="intro">
                        <h3>Beatriz Oliveira</h3>
                        <h5>Empresária</h5>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>
    <!-------------------- Testimonials Area (End) -------------------->
    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2><span>Noticias</span></h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <!--Manutenção preventiva-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="assets/images/Blogs/manutenção-preventiva.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>24/10/2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>Thiago Leão</span></h5>
                        </div>
                        <a class="main-heading"
                           href="https://www.nomus.com.br/blog-industrial/manutencao-preventiva/">
                            Você sabe o que é
                            manutenção preventiva? Entenda como funciona
                        </a>
                        <p>
                            Dando sequência a série de artigos sobre a importância da manutenção,
                            na semana passada falamos sobre a manutenção corretiva e hoje vamos falar
                            sobre o que é a manutenção preventiva, como funciona e quando implantá-la.
                        </p>
                        <a href="https://www.nomus.com.br/blog-industrial/manutencao-preventiva/" class="btn">
                            Leia Mais
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <!--Final Manutenção preventiva-->
                <!--Manutenção corretiva-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="assets/images/Blogs/manutenção-corretiva.webp" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>14/12/2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>Julia Willich</span></h5>
                        </div>
                        <a class="main-heading"
                           href="https://www.produttivo.com.br/blog/manutencao-corretiva-boas-praticas/">
                            Manutenção
                            corretiva: o que é, quais são os tipos e qual o custo
                        </a>
                        <p>
                            A manutenção corretiva faz parte do dia a dia de quem trabalha com equipamentos,
                            mas você sabe como aplicá-la corretamente?
                        </p>
                        <br><br>
                        <br>
                        <a href="https://www.produttivo.com.br/blog/manutencao-corretiva-boas-praticas/"
                           class="btn">Leia Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <!--Final Manutenção corretiva-->
                <!--Manutenção Preditiva-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="assets/images/Blogs/manutenção-predetiva.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>18/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Iberdrola</span></h5>
                        </div>
                        <a class="main-heading"
                           href="https://www.iberdrola.com/inovacao/manutencao-preditiva#:~:text=A%20manuten%C3%A7%C3%A3o%20preditiva%20%C3%A9%20uma,antes%20que%20a%20falha%20aconte%C3%A7a.">
                            Manutenção
                            preditiva: a técnica baseada em dados-chave para se antecipar aos erros.
                        </a>
                        <p>
                            Se alguma máquina falha,
                            as repercussões negativas tanto a nível de serviço quanto financeiro para uma empresa podem
                            ser enormes.
                        </p>
                        <br><br>
                        <br>
                        <a href="https://www.iberdrola.com/inovacao/manutencao-preditiva#:~:text=A%20manuten%C3%A7%C3%A3o%20preditiva%20%C3%A9%20uma,antes%20que%20a%20falha%20aconte%C3%A7a."
                           class="btn">Leia Mais<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <!--final Manutenção Preditiva-->
                <!--Serviços De Suporte Técnico-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="assets/images/Blogs/suporte-tecnico.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>19/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Jefferson</span></h5>
                        </div>
                        <a class="main-heading"
                           href="https://netsupport.com.br/suporte-tecnico-de-ti/#:~:text=O%20suporte%20t%C3%A9cnico%20%C3%A9%20um,uma%20empresa%20ou%20pessoa%20f%C3%ADsica.">
                            SUPORTE
                            TÉCNICO DE TI: TUDO QUE VOCÊ PRECISA SABER PARA COMEÇAR
                        </a>
                        <p>
                            O suporte técnico de TI vai muito além de configuração de servidores, backups e recuperação
                            de senhas.
                            Por meio dele é possível planejar estrategicamente todas as demais áreas da organização e
                            corrigir o que for preciso.
                        </p>


                        <a href="https://netsupport.com.br/suporte-tecnico-de-ti/#:~:text=O%20suporte%20t%C3%A9cnico%20%C3%A9%20um,uma%20empresa%20ou%20pessoa%20f%C3%ADsica."
                           class="btn">Leia Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <!--final Serviços De Suporte Técnico-->
                <!--Suporte No Local-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="assets/images/Blogs/suporte-local.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>18/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Pilz</span></h5>
                        </div>
                        <a class="main-heading" href="https://www.pilz.com/pt-BR/support/pilz-care/local-support">
                            Tempo
                            mínimo de parada devido ao rápido suporte na máquina
                        </a>
                        <p>
                            Nosso serviço no local oferece suporte de melhores práticas diretamente no local por nossos
                            experientes engenheiros e técnicos.
                        </p>
                        <br><br>
                        <br>
                        <a href="https://www.pilz.com/pt-BR/support/pilz-care/local-support" class="btn">
                            Leia Mais <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <!--final Suporte No Local-->
                <!--Serviços De Instalação E Configuração-->
                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="assets/images/Blogs/Serviços De Instalação E Configuração.webp" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>19/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Ana Luiza</span></h5>
                        </div>
                        <a class="main-heading"
                           href="https://cmtecnologias.com/instalacao-configuracao-e-gerenciamento-de-servidores/">
                            Algumas
                            razões para precisar de um gerenciamento de servidores.
                        </a>
                        <p>
                            Ao centralizar os dados em um servidor,
                            você pode gerenciar melhores informações importantes sobre sua empresa.
                        </p>
                        <br><br>
                        <br>
                        <a href="https://cmtecnologias.com/instalacao-configuracao-e-gerenciamento-de-servidores/"
                           class="btn">Leia Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <!--final Serviços De Instalação E Configuração-->
            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>
    <!-------------------- Blog Area (End) -------------------->
    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>Contato</span></h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>Precisa de Assistência Técnica?</h3>

                <p>
                    Não deixe problemas técnicos atrapalharem seu dia! Entre em contato com
                    nosso especialista em suporte técnico, e resolva suas questões de hardware e software de forma
                    rápida e eficiente.
                    Com mais de 30 anos de experiência, Maqcenter está preparada para oferecer o melhor serviço e
                    garantir que seus dispositivos funcionem perfeitamente.
                </p>

                <div class="info-item">
                    <h4>Telefone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+(49) 2121-3153</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+(49) 3638-6996</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">maqcenter@gmail.com</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">atendimento.maqcenter@gmail.com</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="nome" required />
                <input type="email" name="email" class="box" id="email" placeholder="email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="assunto" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box" placeholder="mensagem"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">Enviar mensagem</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>
    <!-------------------- Contact Area (End) -------------------->
    <!-------------------- Footer Area (Start) -------------------->
    <footer>
        <div class="social">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin-in"></a>
        </div>

        <div class="content">
            <p>created by <span>AS_Designs</span> | all rights reserved</p>
        </div>
    </footer>
    <!-------------------- Footer Area (End) -------------------->
    <!-- JQuery -->
    <script src="assets/vendors/jquery/jquery-3.6.0.js"></script>

    <!-- SWIPER JS -->
    <script src="assets/vendors/swiper/swiper.js"></script>

    <!-- Magnific-Popup JS -->
    <script src="assets/vendors/magnific-popup/jquery.magnific-popup.js"></script>

    <!-- Typed JS -->
    <script src="assets/vendors/typed/typed.js"></script>

    <!-- Custom Script File -->
    <script src="assets/js/script.js"></script>
    <script src="assets/js/scroll-spy.js"></script>
    <script src="assets/js/counter-up.js"></script>
    <script src="assets/js/portfolio.js"></script>
    <script src="assets/js/testi-slider.js"></script>
    <script src="assets/js/blog-slider.js"></script>

    <!---------------- Custom Script ---------------->
    <!-- Typed Script -->
    <script>
        var typed = new Typed('.typing-text', {

            strings: ['Serviços Técnico', 'Serviços Administrativos', 'Logística', 'Contabilidade'],
            typeSpeed: 120,
            loop: true
        });
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: 'assets/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>
</body>

</html>